*, *:before,*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,body {
  color: rgb(217, 217, 217);
  background-color: rgb(45, 45, 45);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* .cotainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
} */

.header {
  background-color: rgb(107, 107, 107);
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

/* .header:before{
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(107, 107, 107);

} */

.header__body {


  /* position: relative; */
  /* z-index: 2; */
  display: flex;
  justify-content: space-between;
}

.heager__logo {
  margin-left: 5%;
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.header__burger {
  display: none;
}

@media (max-width:767) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger:before,
  .header__burger:after {
    
  }
}

.header__menu {
  margin-right: 5%;
}

.header__list {
  /* margin-bottom: 10px; */
  display: flex;
}

.header__listElem {
 list-style: none;
 margin: 10px 20px;
}

.header__link {
  text-decoration: none;
  color: rgb(210, 210, 210);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.header__link:hover {
  color: white;
  /* box-shadow: 1px 1px 1px 1px white; */
  border-bottom: 2px solid white;
}

.header__link_active {
  color: white;
}
